* {
    background-color: black;
    font-family: 'EB Garamond', serif;
    padding: 0;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.artistName {
    color: white
}

#header {
    padding-top: 36vh;
    padding-bottom: 36vh;
}

#footer {
    padding-top: 40vh;
    padding-bottom: 40vh;
}


section:hover {
    cursor: pointer;
}

section img {
    height: 95vh;
    margin: 0 -100% 100% 0;
    width: 177.777%;
}

.mini {
    /* height: 30vh; */
    margin-left: auto;
    margin-right: auto;
    max-width: 150px; 
    min-width: 300px;
    max-height: 400px;
    /* tex */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 450px;
    z-index: 0;
    object-fit: cover;
}

.artist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    /* min-width: 450px; */
    z-index: 0;
}

.desc {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    /* min-width: 450px; */
    z-index: 0;
}

a:hover {
    color: rgb(116, 116, 214);
    cursor: pointer;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 33%;
    min-width: 500px; */
}



section {
    /* position: relative; */
    text-align: center;
    max-height: 98vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    min-height: 98vh;
    max-height: 98vh;
}


/* 768px is a common "breakpoint" width for tablets */

@media only screen and (max-width: 768px) {
    h1 {
        color: whitesmoke;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        font-size: calc(40px + 3vw);
        min-width: 300px;
        -webkit-animation: colorchange 25s infinite alternate;
        animation-delay: 2s;
        font-style: italic;
    }
    img, #contact, div, #store {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: calc(40% + 100px);
        min-width: 340px;
        max-width: 1200px;
    }

    #header {
        padding-top: 38vh;
        padding-bottom: 38vh;
    }
    #footer {
        padding-top: 41vh;
        padding-bottom: 41vh;
    }
    section {
        min-height: 98vh;
        max-height: 98vh;
        width: 100vw;
        overflow: hidden;
    }
    section img {
        height: 98vh;
        margin: 0 -100% 100% 0;
        /* width: 177.777%; */
    }

}

/* @media only screen and (max-width: 450px) {
    h1 {
        color: whitesmoke;
        text-align: center;
        font-size: 40px;
        -webkit-animation: colorchange 25s infinite alternate;
        animation-delay: 2s;
        font-style: italic;
    }
    img, #contact, div, #store {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%
    }
    #storeImg {
        width: 30%
    }
    h3, p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 375px) {
    h1 {
        color: whitesmoke;
        text-align: center;
        font-size: 10vw;
        -webkit-animation: colorchange 25s infinite alternate;
        animation-delay: 2s;
        font-style: italic;
    }
    img, #contact, div, #store {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        min-width: 275px;
    }
    h3, p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        color: whitesmoke;
        text-align: center;
        font-size: 11vw;
        -webkit-animation: colorchange 25s infinite alternate;
        animation-delay: 2s;
        font-style: italic;
    }
    img, #contact, div, #store {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        min-width: 275px;
    }
    h3, p {
        font-size: 18px;
    }
} */